footer.navbar-fixed-bottom#foot
    p.left(style='color: #41C900; margin-left: 10px') 
        | © 2017 Built with Node.js by Luis Castro
    p.right
        a(href='#', style='margin-right: 10px') Back to Top
