include header
    include navbar

    body(style='background-color: black')
    //-.section-white(style='background-color: #7A86AD')
    .section-white(style='background-color: black')
        h4(align='middle') Computer Engineer | Web Developer
    .parallax-container.z-depth-3
        .parallax
            img(src='img/img1.jpg')
    //-.section-white(style='background-color: #7A86AD')
    .section-white(style='background-color: black')
        .row.container
            h4(align='middle') Skills
                .row
                    br
                    .col.s4.center-align
                        img#nodeIcon(href='#', src='/img/node.png', height='120px', align='middle', onmouseover='')
                        p(style='font-size:14px; color: white') Web Development with Node.js
                    .col.s4.center-align
                        img#CIcon(src='/img/C++.png', style='height: 120px', align='middle')
                        p(style='font-size:14px; color: white') Data structures and algorithmic analysis with C++
                    .col.s4.center-align
                        img#mongoIcon(src='/img/mongoDB.png', style='height: 120px', align='middle')
                        p(style='font-size:14px; color: white') Database design and maintenance through MongoDB
    .parallax-container.z-depth-3
        .parallax
            img(src='img/mustang-shelby.jpg')
    .section-white(style='background-color: black')
        .row.container
            h4.center-align Portfolio
                .row
                    br
                    .col.s6.center-align
                        a(href='https://www.linkedin.com/in/luis-castro-b1250475/', target='_blank')
                            img(src='/img/linkedin.png', height='120px')
                        p(style='font-size:14px; color: white') LinkedIn Profile
                    .col.s6.center-align
                        a(href='https://github.com/luigi741', target='_blank')
                            img(src='/img/github-white.png', height='120px', align='middle')
                        p(style='font-size:14px; color: white') GitHub Profile

    .parallax-container.z-depth-3
        .parallax
            img(src='img/guitar.jpg')
            
    .modal.modal-fixed-footer#nodeModal
        .modal-content
            h4 Node.js
            p Info about Node
        .modal-footer
            a.modal-action.modal-close.waves-effect.btn close
                i.material-icons.right close
            a.waves-effect.btn(href='https://www.nodejs.org', style='margin: 5px', target='_blank') Go to Site
                i.material-icons.right link
                
    .modal.modal-fixed-footer#CModal
        .modal-content
            h4 C++
            p Info about C++
        .modal-footer
            a.modal-action.modal-close.waves-effect.btn close
                i.material-icons.right close
            a.waves-effect.btn(href='https://isocpp.org/', style='margin: 5px', target='_blank') Go to Site
                i.material-icons.right link
                
    .modal.modal-fixed-footer#mongoModal
        .modal-content
            h4 MongoDB
            p Info about MongoDB
        .modal-footer
            a.modal-action.modal-close.waves-effect.btn close
                i.material-icons.right close
            a.waves-effect.btn(href='https://www.mongodb.com/', style='margin: 5px', target='_blank') Go to Site
                i.material-icons.right link
            
script(src='/js/index.js')
    
include footer
