nav#navBar
    .nav-fixed.typewriter
        ul(id='nav-mobile', class='left hide-on-med-and-down')
            li
                a(href='/', style='margin-left: 10px; font-family: Monaco; color: #41C900') luigi@luigi-IdeaPad-Y700:~$ 
            li
                h1(style='margin-left: 1px; font-family: Monaco; color: #41C900; font-size: 16px; margin-top: 22px') whoami
        ul(id='nav-mobile', class='right hide-on-med-and-down')
            li
                a(href='about', style='color: #41C900') About Me
            li
                a(href='contact', style='color: #41C900') Contact Info
                
script(src='/js/index.js')
