nav#navBar
    .nav-fixed
        a(href='/', class='brand-logo center') Luis Castro
        ul(id='nav-mobile', class='left hide-on-med-and-down')
            li
                a(href='about') About Me
            li
                a(href='contact') Contact Info
